<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include ('../partials/quickActions') %>
    <div class="row">
        <h1>
            <% if (!locals.user){ %>
                Vous n'êtes pas connecté ! 
                Cliquez <a href="/login">ici</a> pour vous connecter !
            <% } else if(locals.user){%>
                Mes commandes
            <% } %>
        </h1>      
        <hr>
        <h3 class="info-perso">
        <% if(orders.length === 0){ %>
            Aucun commande passée !
        <%} else {%>
            <%= user.name %>, voici vos commandes passées
        </h3>

        <hr>    

        <div class="info-div">
            <% for(order of orders) { %>
            <div class="info-key"> <a href="/dashboard/orders/details/<%=order.id%>">Commande du <%= order.date %></a>  </div>
            <div class="info"><%= order.totalTTC %> € - <%= order.quantity%> produits - <%= order.state%></div>
            <% } %>
        </div>

        <% } %>

    </div>
</main>
</body>