<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include ('../partials/quickActions') %>
    <div class="row">
        <h1>
            Mon profil
        </h1> 
        <hr>
        <h3  class="info-perso">Mes commandes</h3>
        <hr>
        <% if(user.orders.length === 0){ %>
            <div class="info-perso">
                Aucune commande passée !
            </div>
        <%}%>

        <hr>    

        <div class="info-div">
            <% for(const order of user.orders) { %>
            <div class="info-key"> <a href="/dashboard/profil/orders/details/<%=order.id%>">Commande du <%= order.date %></a>  </div>
            <div class="info"><%= order.totalTTC %> € - <%= order.quantity%> produits - <%= order.state %></div>
            <% } %>
        </div>


    </div>
</main>
</body>