<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include ('../partials/quickActions') %>
    <div class="row">
        <h1>
            <% if (!locals.user){ %>
                Vous n'êtes pas connecté ! 
                Cliquez <a href="/login">ici</a> pour vous connecter !
            <% } else if(locals.user){%>
                Mes commandes
            <% } %>
        </h1>      
        <hr>
        <h3 class="info-perso">
        <% if(locals.user && !locals.order){ %>
            Aucun commande passée !
        <%} %>
            Commande du <%=order.date%>
        </h3>

        <hr>

        <div class="info-div">

            

            <div class="info-key">Livrée à</div>
            <div class="info">
                <%= shipping.entitled%>, 
                <%= shipping.number %> <%= shipping.number_complement %> <%= shipping.street %>, 
                <%= shipping.postal_code %> <%= shipping.city %> <%= shipping.complement %>,
                <%= shipping.country %></div>

            <div class="info-key">Nombre de produits:</div>
            <div class="info"><%= order.quantity %></div>

            <div class="info-key">Total HT</div>
            <div class="info"><%= order.totalHT %>€</div>

            <div class="info-key">Total TVA</div>
            <div class="info"><%= order.tax %>€</div>

            <div class="info-key">Total TTC</div>
            <div class="info"><%= order.totalTTC %>€</div>

            <div class="info-key">Etat</div>
            <div class="info"><%= order.order_states.title %></div>
        </div>

        <hr>
        <% for(const prod of products) { %>
            <div class="info-div">
                <div class="info-key">Produit</div>
                <div class="info"> <a href="/product/<%=prod.id%>"><%= prod.product.title %></a></div>
                <div class="info-key">Prix HT</div>
                <div class="info"><%= prod.priceHT %>€</div>
                <div class="info-key">Montant TVA</div>
                <div class="info"><%= prod.tva %></div>
                <div class="info-key">Quantité</div>
                <div class="info"><%= prod.quantity %></div>
            </div>
            <hr>    
        <%} %>






    </div>
</main>
</body>