<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include ('../partials/quickActions') %>
    <div class="row">
        <h1>
            Mes commandes
        </h1>      
        <hr>
        <h3 class="info-perso">
        <% if(locals.user && !locals.order){ %>
            Aucun commande passée !
        <% } %>
            Commande du <%= user.order.date %>
        </h3>

        <hr>

        <div class="info-div">

            


                <% for(const adress of adresses){ %>
                    <div class="info-key"><%= adress.adress_type.title %></div>
                    <div class="info">
                        <%= adress.adresses.entitled %>,
                        <%= adress.adresses.number %> <%= adress.adresses.number_complement %> <%= adress.adresses.street %>,
                        <%= adress.adresses.postal_code %> <%= adress.adresses.city %>
                        <%= user.order.order_type_adress_adresses_country %>
                    </div>
                <% } %>
            

            <div class="info-key">Nombre de produits:</div>
            <div class="info"><%= user.order.quantity %></div>

            <div class="info-key">Total HT</div>
            <div class="info"><%= user.order.totalHT %>€</div>

            <div class="info-key">Total TVA</div>
            <div class="info"><%= user.order.tax %>€</div>

            <div class="info-key">Total TTC</div>
            <div class="info"><%= user.order.totalTTC %>€</div>

            <div class="info-key">Etat</div>
            <div class="info"><%= user.order.order_state_title %></div>
        </div>

        <hr>

        
        <% for(const p of products) { %>
            <div class="info-div">
                <div class="info-key">Produit</div>
                <div class="info"> <a href="/product/<%=p.product.id%>"><%= p.product.title %></a></div>
                <div class="info-key">Prix HT</div>
                <div class="info"><%= p.product.priceHT %>€</div>
                <div class="info-key">TVA appliquée</div>
                <div class="info"><%= p.TVA %></div>
                <div class="info-key">Prix TTC</div>
                <div class="info"><%= p.product.priceTTC %>€</div>
                <div class="info-key">Quantité</div>
                <div class="info"><%= p.quantity %></div>
                <!-- ICI ON PEUT AUSSI AJOUTER LE TOTAL POUR CHAQUE PRODUIT, EX: PRODUIT 1 ETAIT A 45 UNITE MAIS ON EN A COMMANDÉ 2, ACCESSIBLE VIA p.priceHT, la TVA (en %) p.tva -->

            </div>
            <hr>    
        <% } %>






    </div>
</main>
</body>