<%- include ('../partials/head.ejs') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main >
<section class="container ">
    <% if (locals.error) { %>
        <div class="alert alert-danger">
            <p class="text-danger"><%= error %> </p>
        </div>
    <% } %>
    <h1 class="large text-primary">Completez vos informations</h1>
    <form class="form" method="POST" action="/dashboard/profil/update">
        <div class="form-group">
            <input type="text" placeholder="<%= user.name %>" name="name" />
        </div>
        <div class="form-group">
            <input type="email" placeholder="<%= user.email %>" name="email" />
        </div>
        <div class="form-group">
            <% if(user.phone){ %>
                 <input type="text" placeholder="<%= user.phone %>" name="phone"/>
            <% } else { %>
                <input type="text" placeholder="Numéro de téléphone" name="phone"/>
            <% } %>
        </div>
        <div class="form-group">
            <% if(user.shipping){ %>
                 <input type="text" placeholder="<%=user.shipping %>" name="shipping"/>
            <% } else { %>
                <input type="text" placeholder="Adresse de livraison complete" name="shipping"/>
            <% } %>
        </div>
        <div class="form-group">
            <% if(user.billing){ %>
                 <input type="text" placeholder="<%=user.billing %>" name="billing"/>
            <% } else { %>
                <input type="text" placeholder="Adresse de facturation complete" name="billing"/>
            <% } %>
        </div>

        <div class="form-group">
            <input type="password" placeholder="Modifiez votre mot de passe" name="modifPassword"/>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Confirmez mot de passe" name="confirmPassword"/>
        </div>

        <div class="form-group">
        <input type="password" placeholder="Confirmez avec votre mot de passe actuel" name="checkPassword"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Complétez" />
    </form>
</section>
</main>
</body>