<%- include ('../../partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span><%= product.title %> </span>
    </div>
</div>

<div class="product-section container">
    <div class="product-section-image">
        <img src="<%= product.image %> " alt="<%= product.title %> " />
    </div>
    <div class="product-section-information">
        <h1 class="product-section-title"><%= product.title %> </h1>
        <div class="product-section-price">Prix HT <%= product.priceHT %> €</div>
        <div class="product-section-price">TVA <%= product.tva.title %></div>
        <div class="product-section-price">Prix TTC<%= product.priceTTC %> €</div>



        <p><%= product.description %> </p>

        <% if(product.stock <= 0){ %>
            <div>
                Ce produit n'est pas disponible pour le moment
            </div>
        <% } else if(product.stock > 0) { %> 
            <form action="/cart/<%= product.id %>" method="POST">
                <input class="button" value="Ajouter au panier" type="submit">
            </form>
        <% } %>
        <div class="product-section-price"><a href="/shop/product/<%=product.id%>/addReview"></a></div>

    </div>

</div>

<%- include ('../../partials/foot') %>
