
<%- include ('../../partials/nav') %>


<div class="breadcrumbs">
        <div class="container">
          <a href="/shop">Home</a>
          <i class="fa fa-chevron-right breadcrumb-separator" ></i>
          <span>Shopping Cart</span>
          <i class="fa fa-chevron-right breadcrumb-separator" ></i>
          <span>Checkout</span>
        </div>
      </div>



        <% if (locals.cart?.length > 0) { %>
          <div class="cart-section container">
            <div class="cart-table">
              <h2>
                Récapitulatif de ma commande
              </h2> 
            <% for( let product of cart ) { %>
              <div class="cart-table-row">
                <div class="cart-table-row-left">
                  <a href="/">
                    <img
                      src="<%= product.image %>"
                      alt="item"
                      class="cart-table-img"
                    />
                  </a>
                  <div class="cart-item-details">
                    <div class="cart-table-item">
                      <a href="/product/<%= product.id %>">
                        <%= product.title %>
                      </a>
                    </div>
                    <div class="cart-table-description">
                      <%= product.description %>
                    </div>
                  </div>
                </div>
                <div class="cart-table-row-right">   
                  <div>
                    <%= product.qty %>
                  </div>
                  <div>
                    <%= product.priceHT * product.qty %> &euro; HT
                  </div>
                  <div>
                    <%= Math.round((product.priceTTC * product.qty) * 100) / 100 %> &euro; TTC
                  </div>
                </div>
              </div>
            <% } %>
              <div class="cart-totals">
                <div class="cart-totals-left">
                  Récapitulatif
                </div>
                <div class="cart-totals-right">
                  <div>
                    Subtotal <br />
                    Tax <br />
                    <span class="cart-totals-total">Total</span>
                  </div>
                  <div class="cart-totals-subtotal">
                    <%= cart.totalHT %>  &euro;
                    <br/>
                    <%= cart.totalTax %> &euro;
                    <br/>
                    <span class="cart-totals-total"><%= cart.totalTTC %> &euro;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <div class="cart-section container">

          <% if(locals.user?.adresses.length > 0){ %>
            <div class="cart-table">
            <form  method="POST" action="/checkout/complete">
              <div class="cart-table-row">
              <div class="cart-table-row-left">
                Adresse de livraison
              </div> 
              <div class="cart-table-row-right">   
                <label for="shipping_selection"></label>
                <select name="shipping_id" id="shipping_selection">
                  <% for(adress of user.adresses){ %>
                    <option value="<%=adress.id%>">
                      <%= adress.entitled%>, 
                      <%= adress.number%> <%= adress.number_complement%>, 
                      <%= adress.street%>, 
                      <%= adress.postal_code%> <%= adress.city%> <%= adress.complement%>, 
                      <%= adress.country%> %>
                    </option>
                  <% } %>
                </select>
              </div>
              </div>
              <div class="cart-table-row">
              <div class="cart-table-row-left">
                Adresse de facturation
              </div> 
              <div class="cart-table-row-right">   
                <label for="billing_selection"></label>
                <select name="billing_id" id="billing_selection">
                  <% for(adress of user.adresses){ %>
                    <option value="<%=adress.id%>">
                      <%= adress.entitled%>, 
                      <%= adress.number%> <%= adress.number_complement%>, 
                      <%= adress.street%>, 
                      <%= adress.postal_code%> <%= adress.city%> <%= adress.complement%>, 
                      <%= adress.country%> %>
                    </option>
                    <% } %>
                </select>
              </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Procéder au paiement" />
            </form>
            </div>
              <% } %>


            <%if(locals.user.adresses.length === 0){%>
              <a href="/dashboard/profil/adresses">Ajouter une adresse pour finaliser votre commande</a>
            <% } %>
        </div>

    <%- include ('../../partials/foot') %>