<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <h1>
            Bienvenu administrateur <%= user.name %>
        </h1> 
        
        <hr>

        <h3  class="info-perso">Ajoutez un produits</h3>

        <hr>    

        <form class="form" method="POST" action="/dashboard/admin/products/addProduct">
            <div class="form-group">
                <input type="text" placeholder="Nom du produits" name="title" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Référence du produit" name="ref" />
            </div>
            <div class="form-group">
                <input type="textarea" placeholder="Description du produit" name="description" />
            </div>
            <div class="form-group">
                <input type="number" placeholder="Prix HT, ex: 123.20" step="any" name="priceHT" />
            </div>
            <div class="form-group">
                <input type="url" placeholder="URL de l'image" name="image" />
            </div>
            <div class="form-group">
                <label for="tva_selection">TVA:</label>
                <select name="tva_id" id="tva_selection">
                    <% for(tax of tva){ %>
                        <option value="<%=tax.id%>"><%= tax.title %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="tva_selection">Catégorie:</label>
                <select name="category_id">
                    <% for(cat of categories){ %>
                        <option value="<%=cat.id%>"><%= cat.name %></option>
                    <% } %>
                </select>
            </div>
            <% if(locals.message){%>
                <%= message %>
            <%}%>
            <input type="submit" class="btn btn-primary" value="Ajoutez le produit" />
        </form>

    </div>
</main>