<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <h1>
            Bienvenu administrateur <%= user.name %>
        </h1> 
        
        <hr>

        <h3  class="info-perso">Catégories </h3>

        <hr>  

        <h4  class="info-perso">Catégories Actives</h4>

        <hr>    

        <div class="info-div">
            <% for(const cat of categories) { %>
                <div class="info-key">
                    <%= cat.title %> 

                </div>
                <div class="info"> 
                    <% if(cat.products.length === 0){ %>
                        <% if(cat.active === true) { %>
                            <form action="/dashboard/admin/categories/unactive/<%= cat.id %>" method="POST">
                                <input class="button-cart" value="Désactiver" type="submit"/> 
                            </form> 
                        <% } else if (cat.active === false) { %>
                            <form action="/dashboard/admin/categories/active/<%= cat.id %>" method="POST">
                                <input class="button-cart" value="Réactiver" type="submit"/> 
                            </form> 
                        <% } %>
                    <% } else if (cat.products.length > 0){ %>        
                        <%= cat.products.length %> Produits
                    <% } %>              
                </div>
            <% } %>
        </div>

        <hr>

        <h4  class="info-perso">Catégories Non Actives</h4>

        <hr>    

        <div class="info-div">
            <% for(const cat of unactiveCategories) { %>
                <div class="info-key">
                    <%= cat.title %> 

                </div>
                <div class="info"> 
                    <% if(cat.products.length === 0){ %>
                        <% if(cat.active === true) { %>
                            <form action="/dashboard/admin/categories/unactive/<%= cat.id %>" method="POST">
                                <input class="button-cart" value="Désactiver" type="submit"/> 
                            </form> 
                        <% } else if (cat.active === false) { %>
                            <form action="/dashboard/admin/categories/active/<%= cat.id %>" method="POST">
                                <input class="button-cart" value="Réactiver" type="submit"/> 
                            </form> 
                        <% } %>
                    <% } else if (cat.products.length > 0){ %>        
                        <%= cat.products.length %> Produits
                    <% } %>              
                </div>
            <% } %>
        </div>

        <hr>

        <% if(locals.message){ %>
            <%= message %>
        <%}%>

        <form class="form" method="POST" action="/dashboard/admin/categories/add">
            <div class="form-group">
                <input type="text" placeholder="Ajouter une catégorie" name="title" />
                <input type="hidden" name="active" value="true">
                <input type="hidden" name="created_by" value="<%=user.id%>">

            </div>
            <input type="submit" class="btn btn-primary" value="Ajouter" />
        </form>

        <div class="complete"><a  class="complete" href="/dashboard/admin/categories/update">Modifiez les catégories</a></div>

    </div>
</main>

