<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <h1>
            Bienvenu administrateur <%= user.name %>
        </h1> 
        
        <hr>

        <h3  class="info-perso">Produit <%= product.title %></h3>

        <hr>    
        <div class="product-section-image">
            <img src="<%= product.image %> " alt="<%= product.title %> " />
        </div>
            <div class="info-div">
                <div class="info-key">
                    Référence
                </div>
                <div class="info">                       
                    <%= product.ref %>  
                </div>
                <div class="info-key">
                    Nom
                </div>
                <div class="info">                       
                    <%= product.title %>  
                </div>
                <div class="info-key">
                    Catégorie
                </div>
                <div class="info">                       
                    <%= product.categories.title %>  
                </div>
                <div class="info-key">
                    Description 
                </div>
                <div class="info">                       
                    <%= product.description %>  
                </div>
                <div class="info-key">
                    Prix HT
                </div>
                <div class="info">                       
                    <%= product.priceHT %>  
                </div>
                <div class="info-key">
                    Taxe appliquée
                </div>
                <div class="info">                       
                    <%= product.tva.title %>  
                </div>
                <div class="info-key">
                    Prix TTC
                </div>
                <div class="info">                       
                    <%= product.priceTTC %>  
                </div>
                <div class="info-key">
                    Créé par
                </div>
                <div class="info">                       
                    <%= product.users.firstname%> <%= product.users.lastname %>
                </div>
                <div class="info-key">
                    Stock
                </div>
                <div class="info">                       
                    <%= product.stock %> 
                </div>
                <div class="info-key">
                    Actif
                </div>
                <div class="info">                       
                    <%= product.active %>  
                </div>
                <% for(const review of reviews){ %>
                    <div class="info-key">
                        Avis
                    </div>
                    <div class="info">                       
                        <%= review.content %>  
                    </div>
                <% } %>
            </div>

        <div class="complete"><a  class="complete" href="/dashboard/admin/products/details/<%= product.id %>/update">Modifiez le produit</a></div>
        <% if(product.active === true){ %>
            <form action="/dashboard/admin/products/details/unactive/<%= product.id %>" method="POST">
                <input class="button-cart" value="Désactiver le produit" type="submit"/> 
            </form> 
        <% } else if(product.active === false){ %>
            <form action="/dashboard/admin/products/details/active/<%= product.id %>" method="POST">
                <input class="button-cart" value="Réactiver le produit" type="submit"/> 
            </form> 
        <% } %>

    </div>
</main>