<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <h1>
            Bienvenu administrateur <% user.name %>
        </h1> 
        
        <hr>

        <h3  class="info-perso">Modifiez vos catégories</h3>

        <hr>    

        <% for(cat of categories) { %>
            <form class="form" method="POST" action="/dashboard/admin/category/updateCategory">
                <input type="text" placeholder="<%= cat.name %>" name="name"/>
                <input type="hidden" name="categoryId" value=" <%= cat.id %> "/>
                <input type="submit" class="btn btn-primary" value="Modifier" />
            </form>
            <hr>

        <% } %>
        </div>

        <div class="complete"><a  class="complete" href="/dashboard/admin/category">Retour aux catégories</a></div>




    </div>
</main>